h1 {
    font-family: sans-serif;
    color: green;
}

h2,
h3
{
    color:green;
}
h1{
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color:green;;

}

h2{
    font-size: 40px;
    font-family: sans-serif;
}


h3{
    font-size: 30px;
    font-family: sans-serif;
}


h4{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align:center;
}
p{
    font-size: 26px;
    font-family: sans-serif;
    line-height: 1.5;
}
li{
    font-size: 20px;
    font-family: sans-serif;
}

/* footer {
    font-size: 16px;
} */
header p{
    font-style: italic;
}

#autor{
    font-style: italic;
    font-size: 18px;
}

#Copyright{
    font-style: italic;
    font-size: 16px;
}

.related-author{
    font-size: 18px;
    font-weight: bold;
}
ul {
    list-style-type: none;  
}
 header {
  background-color: #f7f7f7;

}
aside {
    background-color: #f7f7f7a2;
    border-top: 20px solid #1098ad;
    border-bottom: 30px solid #1098ad;

}

body {
    background-color: #d2c8c8;
}

 li:first-child {
    font-weight: bold;
 }

 li:last-child{
    font-style: italic;
 }
 a:hover {
    color: rgb(8, 220, 224);
}
a:link {
    text-decoration: none;
}
a:active {
    color: rgb(4, 4, 4);
}